@media screen and (max-width: 600px) {
    #container {
      flex-direction: column;
    }
  }

#avatar {
    width: 400px;
    border-radius: 50%;
    max-width: 100%;
}

h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
}

.responsive-font {
    font-size: 2vw;
}

/*
vw = viewport width:
Width of the user's screen

see also: vh (viewport height)
*/

#container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

#picture-container {
    display:flex;
    justify-content: center;
}

#avatar-section {
    flex-basis: 50%;
    padding: 10px;
}

#writeup-section {
    flex-basis: 50%;
    padding: 10px;
}

.social {
    background-color: skyblue;
    color: #34282c;
    padding: 10px;
}

body {
    display:flex;
    justify-content: center;
}


/*
Photo sizing:
1) File type: jpeg vs png
jpeg is faster than png files.
Usually, you can use a .png file in a thumbnail, so that user can click through to it and load the large image

2) You can go under the Google dev tools and "Google lighthouse" for fine tuning


picture {
    border-radius: 50%;
}

img {
    border-radius: 50%;
}

*/