body {
    background-color: azure;
    text-align: center;
}

#avatar {
    width: 25%;
    border-radius: 50%;
}

li {
    list-style-position:inside;
}

.social {
    background-color: skyblue;
    color: #34282C;
    padding: 10px;
}









/*
p {
    margin:10px;
}

ul {
    margin-left: 80px;
}

When it comes to spacing of elements there are two forms of lengths:
Absolute Vs Relative Lengths
cm          em
mm          ex
in          ch
px          ex
pt          ch
pc          rem
            vw
            vh
            vmin
            vmax            
            %
To find out more about CSS units: https://www.w3schools.com/cssref/css_units.php
*/