html {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  background-color: silver;
  font-family: "Playfair", serif;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

h2 {
  color: red;
}

.reasons {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: yellow;
  font-variant: small-caps;
}

ol {
  font-style: italic;
}

#organic,
#vegan {
  color: green;
}

.reviews {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
}

img {
  size-adjust: 50%;
  width: 20%;
}

.reviewers {
  background-color: azure;
  font-size: 32px;
  line-height: 2em;
}
